.nav-tabs {
    padding-left: 3px;
    border-bottom: none;
}

.nav-tabs .nav-link.active {
    color: blue;
    font-weight: 500;
    text-decoration: underline;
}

.nav-tabs .nav-link {
    color: black;
}

hr {
    border-color: rebeccapurple;
}

@media (max-width: 767.98px) {
    .coordinate {
        width: 55px;
    }
}
